
body{
  border: solid 2px green;
  background-image: linear-gradient(to bottom right, rgb(59, 59, 255), rgb(143, 143, 245));
  height: 100vh;
  text-align: center;
}

header{
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
}

header img{
  height: 80px;
  margin: 20px 40px;
  padding: 8px;
  background-color: white;
  border-radius: 20px;
}

header h1{
  margin: 30px auto;
  margin-left: 430px;
  padding: 30px;
  text-align: left;
  text-shadow: 0 0 4px #1100ff;
}


main{
  border: solid 2px black;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
  justify-content: center;
}

h2{
  margin: 30px;
  padding: 10px;
}


article{
  height: 300px;
  margin: 10px;
  padding: 20px;
}

p{  
  margin: 10px 400px;
  line-height: 22px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

a{
  border: solid;
  border-radius: 50px;
  padding: 10px;
  margin: 30px auto;
  width: 100px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  display: block;
}

a:hover{
  background-color: #8680da;
}

span{ 
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

h3{
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.newsLetter{
  border: solid 2px red;
  height: 200px;
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  font-size: 14px;
  display: block;
  justify-content: center;
}

form{
  padding: 10px;
  margin: 20px auto;
  width: 50%;
  display: flex;
  justify-content:center;
  
}

form label{
  font-size: 20px;
  padding: 10px;
}

form input{
  width: 400px;
  margin: 0 10px;
  border-style: none;
  border-radius: 5px;
}

form button{
margin-left: 5px;
font-weight: bold;
border-radius: 5px;
color:#010005;
width: 100px;
}

form button:hover{
background-color: rgb(92, 66, 207);
}