
body{
  background-image: linear-gradient(to bottom right, rgb(59, 59, 255), rgb(143, 143, 245));
  height: 100vh;
  text-align: center;
}

header{
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
}

header img{
  height: 60px;
  margin: 10px 40px;
  padding: 8px;
  background-color: white;
  border-radius: 20px;
}

header h1{
  margin: 30px auto;
  margin-left: 500px;
  padding: 10px;
  text-align: left;
  text-shadow: 0 0 4px #1100ff;
}


main{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

section{
  display: flex;

}

h2{
  margin: 10px;
  padding: 10px;
  font-size: 22px;
}


article{
  box-shadow: 5px 10px 18px #3000ddb9;
  height: 500px;
  width: 450px;
  margin: 10px;
  padding: 10px;
}

.artigosBlog p{  
  line-height: 22px;
  height: 180px;
  width: 300px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}


a{
  border: solid;
  border-radius: 50px;
  padding: 10px;
  margin: 10px auto;
  width: 100px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  display: block;
  
}

a:hover{
  background-color: #8680da;
  text-shadow: 0 0 4px #1100ff;
}

span{ 
  margin: 10px;
  padding: 10px;
  font-size: 12px;
}

h3{
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.newsLetter{
  height: 100px;
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  font-size: 14px;
  display: block;
  justify-content: center;
}

form{
  padding: 10px;
  margin: 20px auto;
  width: 50%;
  display: flex;
  justify-content:center;
  
}

form label{
  font-size: 20px;
  padding: 10px;
}

form input{
  width: 400px;
  margin: 0 10px;
  border-style: none;
  border-radius: 5px;
  background-color: #1413187a;
}

form button{
margin-left: 5px;
font-weight: bold;
border-radius: 5px;
color:#010005;
width: 150px;
}

form button:hover{
  background-color: #000000;
  color: white;
  border-radius: 5px;
  border: solid 1px white;
}